name: Task 1 - Fix the broken workflow

jobs:
  task1:
    name: Task 1 - Fix the broken workflow
    defaults:
      run:
        working-directory: ./copy-pasta-app
    steps:
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install
      - run: npm run lint
      - run: npx playwright install
      - run: npm test
      - run: npm run build